# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/
projectenv/

# OS files
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Model files 
#*.pkl

# IDE
.vscode/

# specific to this project
notebooks/Dataset.py